<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./static/styles/default.css">
    <link rel="stylesheet" href="./static/styles/nav.css" />
    <link rel="stylesheet" href="./static/styles/home.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <title>Homepage</title>
    <link rel="icon" href="./static/img/logo.png" />
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-item">
          <a href=""
            ><img
              src="./static/img/logo.png"
              alt="Logo do sistema"
              id="nav-logo"
          /></a>
          <a href=""><i class="bi bi-layout-text-window-reverse"></i></a>
          <a href=""><i class="bi bi-bar-chart"></i></a>
        </div>
        <div class="nav-item">
          <a href=""><i class="bi bi-box-arrow-left"></i></a>
        </div>
      </nav>
    </header>

    <main>
      <div class="titulo-pag">
        <h1>Mapa</h1>
      </div>

      <section>
        <div>
          <img
            id="mapa"
            src="./static/img/mapaPI.jpg"
            alt="Mapa da cidade"
            class="mapa"
          />
        </div>

        <div class="container-info">
          <div class="box-info">
            <div class="header-info">
              <p>Total de postos</p>
              <a href=""><i class="bi bi-three-dots"></i></a>
            </div>
            <span>3</span>
          </div>
          <div class="box-info">
            <div class="header-info">
              <p>Veiculos Carregados</p>
              <a href=""><i class="bi bi-three-dots"></i></a>
            </div>
            <span>99</span>
          </div>
          <div class="box-info">
            <div class="header-info">
              <p>Status</p>
              <a href=""><i class="bi bi-three-dots"></i></a>
            </div>
            <span>OK</span>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
